.info {
  font-family: "Source Sans Pro", sans-serif;
}

.card {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.icon {
  margin-right: 5px;
  text-decoration: none;
  list-style: none;
  color: black;
}
